 
.container{
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;

}

.notes-list{
  display: grid;
  /* 1 rem = 16px */
  grid-gap: 1rem; 
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));

}

.note{
  background-color: rgb(237, 237, 138);
  border-radius: 10px;
  padding: 1rem;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.note-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note.new{
  background-color: rgb(185, 248, 248);
}
textarea{
  border: none;
  resize: none;
  background-color: rgb(185, 248, 248);
}
textarea:focus{
  outline: none;
}